* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body{ */
/* background-color: red; */
/* } */

.main {
	margin: 0 auto;
	background-color: blanchedalmond;
	width: 55%;
}
.main h1 {
	text-align: center;
}

.main form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main form input {
	width: 55%;
}

.main form button {
	background-color: rgb(140, 140, 235);
	border: none;
	border-radius: 5px;
	height: 50px;
	width: 55%;
}
